@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../assets/img/League-of-Legends-Wallpaper-25.jpg);
  background-size: cover;

}
header .img_sair{
  height: 35px;
  cursor: pointer;
}

.container_dados{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  margin-top: 17vh;
  align-items: center;
}

.container_dados_fundo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1E1C21;
  width: 100%;
  height: 77vh;
  border-radius: 30px;
  padding: 20px;
  color: #fff;
}

.img_usuario{
  height: 80px;
  width: 80px;
  position: absolute;
  margin-top: -35px;
  border-radius: 45px;
}

.container_info_usuario img{
  height: 40px;
  width: 40px;
  margin-right: 2vw;
}

.container_info_usuario{
  display: flex;
  justify-content: space-between;

}

.container_info_time{
  width: 300px;
  display: flex;
  align-items: center;
}

.container_info_moeda{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.banner_dados{
  width: 20vw;
  height: 100%;
  background: linear-gradient(180deg, #000000 0%, #2F2F2F 22.82%, #303030 40.14%, #303030 57.12%, #2F2F2F 74.26%, #000000 100%);
  border-radius: 15px;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container_banner{
  height: 50vh;
  display: flex;
  justify-content: space-around;
}

.proximos_jogos_home img{
  height: 5vh;
  width: 3vw;
}

.proximos_jogos_home{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}


.proximos_jogos_home h3{
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-bottom: 1.25vh;
}

.proximos_jogos_home h4{
  font-size: 1em;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5vh;
}

.proximos_jogos_home_time{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 5px;
}

.proximos_jogos_home_quando{
  display: flex;
  justify-content: space-between  ;
}

.proximos_jogos_home_quando p{
  font-size: 0.85em;
  font-family: 'Roboto', sans-serif;
  color: #a6a7a9;
  width: 57px;
  display: flex;
}

.button_votar{
  height: 4vh;
  width: 7vw;
  background-color: #7A177C;
  border-style: none;
  border-radius: 10px;
  color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}

.button_votar:hover{
  background-color: #5E1460;
  transition: 0.3s all;
}

.text_conteudo{
  font-family: 'Roboto', sans-serif;
}

.text_conteudo h4{
  font-size: 1.3em;
  margin-bottom: 1.3vh;
}

.text_conteudo p{
  font-size: 0.8em;
}

.dados_votos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placar_votos{
    background-color: #fff;
    width: 3vw;
    height: 5vh;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-color: #7A177C;
    border-style: solid;
    margin-bottom: 1.5vh;
}

.img_cont{
  width: 10vw;
}

.graficos{
  height: 50vh !important;
  width: 100%;
}

.container_pergunta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container_pergunta h2{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.container_pergunta img{
  height: 35vh;
}

.container_pergunta button{
  height: 5vh;
  width: 8vw;
  border-style: none;
  border-radius: 4px;
  background-color: #7A177C;
  color: #fff;
  cursor: pointer;
}

.container_pergunta button:hover{
  background-color: #5E1460;
  transition: 0.3s all;
}

.container_button_pg{
  display: flex;
  width: 55vw;
  justify-content: space-between;
}